*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    background: linear-gradient(to left, #8e9eab,#eef2f3);
    height: 100hv;
    width: 100%;
}


.header{
    background: transparent;
}


nav{
    display: flex;         
    /* sideBySide */
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
}


nav ul li{
    display: inline-block;
    list-style: none;
}


nav ul li a{
    font-size: 18px;
    color: #eef2f3;
    text-decoration: none;
    padding: 12px 14px;
}


nav ul li a:hover{
    background-color: #8e9eab;
    font-size: 16px;
    color: #eef2f3;
    border-radius: 20px;
}


#firstH{
    font-size: 20px;
    color: #304352;
}


#home{
    color: #304352;
    height: 750px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.fronttxt{
    display: flex;
    flex-direction:column;
    position: absolute;
    top: 35%;
    align-items:left;
}


#secondH{
    font-size: 60px;
}


#thirdH{
    margin-top: 8px;
    margin-bottom: 1px;
    font-size: 35px;
}


#firstP{
    margin-top: 10px;
    font-size: 25px;
}


.clickme{
    margin-top: 32px;
    margin-left: 1px; 
    margin-right: 40px;
    margin-bottom: 40px; 
    width: 200px;

    background-color: #eef2f3;
    color: #304352;
    font-size: 18px;
    font-weight: bold;

    border: #304352 solid 2px;
    border-style:groove;
    border-radius: 35px; 
    padding: 10px 20px; 

}


.clickme:hover{
    background-color: #8e9eab;
    font-size: 15px;
    color: #eef2f3;
}


/* About Styling */


#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 250px;
}


#fourthH{
    background-color:#eef2f3;
    padding: 12px;
    color: #304352;

    margin-top: 0px;
    margin-bottom: 50px;

    font-size: 23px;
    font-weight: 800;
    text-align: center;
}


#picture{
    display: flex;
    margin-top: 60px;
}


#picture img{
    width: 520px;
    height: 350px;
    padding: 20px;
}


.oktxt{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-right: 10px;

}


.oktxt p{
    padding-top: 11px;
    font-size: 20px;
    letter-spacing: 1px;
} 


.op{
    margin-top: 35px;
    margin-left: 4px;
    text-align: center;

    
    background-color: #eef2f3;
    color: #304352;
    font-size: 15px;
    font-weight: bold;

    border: #304352 solid 2px;
    border-style:groove;
    border-radius: 35px; 
    padding: 10px 20px; 
}


.op:hover{
    background-color: #8e9eab;
    font-size: 14px;
    color: #eef2f3;
} 


/* Project Section  */


#project{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}


.fivthH{
    margin-top: 0px;
    margin-bottom: 40px;

    font-size: 23px;
    font-weight: 800;
    text-align: center;

    background-color:#eef2f3;
    padding: 12px;
    color: #304352;
}


.pro{

    margin-top:25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 20px;
   
}


.column{
    width: 350px;
    height: 300px;

    background-color: #eef2f3;
    opacity: 1.5;
    color: #304352;
    display:flex;
    flex-direction: column;
    margin: 40px;
  
    border: #304352 solid 2px;
    border-radius: 35px;
    border-style: groove;

  
    align-items:center;
    text-align: left;
    padding: 15px;

    font-size: 16px;
    letter-spacing: 1px;
    color:black;
}


.skilltxt{

    font-size: 20px;
    padding: 25px;
}


.column p{
    padding: 10px;

}


.imagetoptxt{
    font-size: 20px;
    padding: 5px;
}


.imageme{
    width: 150px;
    height: 120px;
    padding: 4px;
    border-radius: 30px;
    /* float: left; */
}


.imageme:hover{
    border: #8e9eab solid 3px;
    border-radius: 30px;
}


.an{
    padding-top: 25px;
}



/* contactme part */



#contact{
    height: 670px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}
#sixthH{
    text-align: center;
    background-color:#eef2f3;
    color: #304352;
    padding: 12px;

    font-size: 23px;
    font-weight: 800;
}

form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    margin: 60px 10px;   
}

.inputme{
    width: 20%;
    margin: 5px;
    font-size: 15px;
    color: black;
    
    border-radius: 20px;
    border:  #8e9eab 2px solid;
    border-style: groove;

    padding: 10px 5px;
}


#messme{
    width: 20%;
    margin-top:15px;
    margin-bottom: 5px;

    font-size: 15px;
    color: black;

    border-radius: 20px;
    border:  #8e9eab 2px solid;
    border-style: groove;
}  


.submit{
    margin-top: 40px;
    width: 15%;
    padding: 10px 20px; 

    background-color: #eef2f3;
    color: #304352;
    font-size: 15px;
    font-weight: bold;

    border: #304352 solid 2px;
    border-style:groove;
    border-radius: 35px;    
}

.submit:hover{
    background-color: #8e9eab;
    font-size: 14px;
    color: #eef2f3;
}


/*   */


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 1em sans-serif;
    color: #304352;
    padding: 10px;
} 

.media{
    padding: 4px;
}

a img{
    height: 40px;
    width: 45px;
    padding: 4px;
} 

a img:hover{
    background-color:#eef2f3;
    border-radius: 20px; 
    height: 42px;
    width: 47px;
}






/* BY PRADUMN JADLI */                   